%header {
	font-weight: 600;
	font-size: 3rem;
	line-height: calc(3rem * 1.5);
}

%title{
	font-weight: 600;
	font-size: 2.5rem;
	line-height: calc(2.5rem * 1.2);
}

%subtitle{
	font-weight: 500;
	font-size: 1.375rem;
	line-height: calc(1.375rem * 1.2);
}

%phrase{
	font-weight: 400;
	font-size: 1.25rem;
	line-height: calc(1.125rem * 1.2);
}

%text{
	font-weight: 400;
	font-size: 1.125rem;
	line-height: calc(1.125rem * 1.2);
}

@media screen and (max-width: 425px){
	%header {
		font-size: 2rem;
		line-height: calc(2rem * 1.5);
	}

	%title{
		font-size: 1.5rem;
		line-height: calc(1.5rem * 1.5);
	}

	%subtitle{
		font-size: 1.125rem;
		line-height: calc(1.125rem * 1.2);
	}

	%phrase{
		font-size: 1.125rem;
		line-height: calc(1.125rem * 1.2);
	}

	%text{
		font-size: 1rem;
		line-height: calc(1rem * 1.2);
	}
}

// @media screen and (max-width: 425px){
// 	%header {
// 		font-size: 3rem;
// 		line-height: calc(3rem * 1.5);
// 	}

// 	%title{
// 		font-size: 2.5rem;
// 		line-height: calc(2.5rem * 1.5);
// 	}

// 	%subtitle{
// 		font-size: 1.375rem;
// 		line-height: calc(1.375rem * 1.2);
// 	}

// 	%phrase{
// 		font-size: 1.25rem;
// 		line-height: calc(1.125rem * 1.2);
// 	}

// 	%text{
// 		font-size: 1.125rem;
// 		line-height: calc(1.125rem * 1.2);
// 	}
// }