@import '../base/_fonts.scss';
@import '../base/_palette.scss';
@import '../base/_shadows.scss';

@keyframes brands-open{
	from{
		height: 450px;
	}

	to{
		height: 600px;
	}
}

@keyframes brands-close{
	from{
		height: 600px;
	}

	to{
		height: 450px;
	}
}


.brands{
	position: relative;
	height: 450px;
	overflow: hidden;

	&__list{
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item{
		margin: 7px 7px;
		width: 220px;
	}

	&__dropdown{
		width: 100%;
		height: 120px;

		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(to top, $gray 40%, rgba(0,0,0,0));

		position: absolute;
		bottom: 0;
		z-index: auto;
	}

	&__shadow{
		width: 100%;
		height: 100%;
		position: absolute;
		background: $gray;
		filter: blur(40px);
		z-index: auto;
	}

	&__button{
		padding: 6px 30px;
		background-color: $primary;
		color: $white;
		border: none;
		cursor: pointer;
		box-shadow: $z0;
		transition: box-shadow .1s;
		position: relative;
		z-index: auto;
		
		@extend %subtitle;

		&:hover{
			box-shadow: $z1;
			transition: box-shadow .1s;
		}
	}
}

@media screen and (max-width: 1024px){
	@keyframes brands-open{
		to{
			height: 800px;
		}
	}

	@keyframes brands-close{
		from{
			height: 800px;
		}
	}

}

@media screen and (max-width: 768px){
	@keyframes brands-open{
		to{
			height: 900px;
		}
	}

	@keyframes brands-close{
		from{
			height: 900px;
		}
	}
}

@media screen and (max-width: 425px){
	@keyframes brands-open{
		to{
			height: 800px;
		}
	}

	@keyframes brands-close{
		from{
			height: 800px;
		}
	}

	.brands{
		&__item{
			margin: 5px;
			width: 100px;
		}
	}
}