@import '../base/_fonts.scss';
@import '../base/_palette.scss';
@import '../base/_shadows.scss';

.contact-card{
	width: fit-content;
	max-width: 500px;
	padding: 20px;
	background-color: $white;
	box-shadow: $z1;
	display: grid;
	grid-template-columns: 40px auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"Logo Title"
		"Logo Text";
	column-gap: 10px;
	row-gap: 5px;
	align-items: start;

	&__img{
		grid-area: Logo;
		display: flex;
		align-items: center;
	}

	&__icon{
		font-size: 40px;
	}

	&__title{
		@extend %text;
		font-weight: 600 !important;
		grid-area: Title;
	}

	&__text{
		@extend %text;
		grid-area: Text;
	}

	&__number{
		color: $primary;
		text-decoration: underline;
		cursor: pointer;
	}
}

@media screen and (max-width: 425px){
	.contact-card{
		width: 100%;
		grid-template-columns: 40px 1fr;
	}
}