@import '../base/_fonts.scss';
@import '../base/_palette.scss';
@import '../base/_shadows.scss';

.header-card{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 90px 1fr 100px;
	grid-template-areas: 
		"Navbar"
		"Text";
	background: url(https://picsum.photos/1000/1500) center/cover no-repeat;
	box-shadow: $z3;
	
	&__nav{
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text{
		grid-area: Text;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__title{
		@extend %header;
		color: $white;
		text-align: center;
	}

	&__phrase{
		@extend %text;
		color: $white;
		text-align: center;
	}

	&__scrolldown{
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

}

@media screen and (max-width: 768px){
	.header-card{
		grid-template-rows: 60px 1fr 100px;
		&__nav{
			padding: 0px 10px;
		}
	}
}