@import '../base/_palette.scss';

@keyframes getdown{
	0%{
		margin-top: 30px;
		opacity: 1;
	}	
	100%{
		margin-top: -30px;
		opacity: 0.2;
	}
}

.scrolldown{
	width: 40px;
	height: 70px;
	border: solid 5px $white;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__ball{
		width: 16px;
		height: 16px;
		background: $white;
		border-radius: 50%;
		animation: getdown .8s ease alternate infinite;
	}
}
