@import '../base/_fonts.scss';
@import '../base/_palette.scss';

body{
	background: $white;
}
.header{
	width: 100%;
	height: 100vh;
	max-height: 1000px;
	padding: 20px;
}

.main{
	width: 100%;
}

.insurance{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: gray;

	&__title{
		@extend %title;
	}
}

.aliances{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: gray;

	&__title{
		@extend %title;
	}
}	