@import '../base/_fonts.scss';
@import '../base/_palette.scss';

body{
	background: $white;
}
.header{
	width: 100%;
	height: 100vh;
	max-height: 1000px;
	padding: 20px;
}

.main{
	width: 100%;
}

.insurance{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 40px;

	&__title{
		@extend %title;
		text-align: center;
	}

	&__tabs{
		display: flex;
		justify-content: center;
		margin: 50px 0 100px 0;

		& > *{
			margin-right: 50px;
		}

		& > *:nth-last-child(1){
			margin-right: 0px;
		}
	}
}

.aliances{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $gray;
	padding: 80px 20px 40px 20px;

	&__title{
		@extend %title;
		text-align: center;
	}

	&__content{

	}
}	

.cta{
	display: flex;
	justify-content: center;
	padding: 0 20px;
	position: relative;

	&__card{
		position: absolute;
		top: 50px;
		z-index: 2;
	}
}

.contact{
	height: 1400px;
	position: relative;
	background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=19.431113,-99.1576105&zoom=18&scale=2&size=1400x1200&maptype=hybrid&markers=color:red%7C19.4304707,-99.1574667&key=AIzaSyD5c4UPefqr8VjIvqkE3el0WZt4jEP6hgM); 	
	background-position: center;
	background-size: 100% 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 20px;

	&__shape{
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__cards{
		display: flex;
		flex-direction: column;

		& > *{
			margin-bottom: 15px;
		}

		& > *:nth-last-child(1){
			margin-bottom: 0px;
		}
	}
}

@media screen and (max-width: 768px){
	.insurance{
		&__tabs{
			& > *{
				margin-right: 30px;	
			}
		}
	}
}

@media screen and (max-width: 425px){
	.insurance{
		padding: 80px 30px;
		&__tabs{
			margin: 40px 0 50px 0;
			& > *{
				margin-right: 10px;	
			}
		}
	}
}